.App {
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.802);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 300px;
  width: 300px;
  background-color: black;
  border: 10px solid rgb(109, 105, 105);
  border-radius: 50%;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.reset,
.counter,
.controller {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.reset {
  font-size: 2rem;
  background-color: brown;
  width: 50%;
  margin: 5px auto;
  border-radius: 50%;
  padding: 15px 0px;
}
.counter {
  font-size: 2rem;
}
.controller {
  display: flex;
  gap: 40%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4rem;
}
.decrement {
  color: red;
}
.increment {
  color: blue;
}
.decrement:hover,
.increment:hover {
  cursor: pointer;
  opacity: 0.7;
}
